.profileMenu {
  position: relative;
  height: 100%;
  border-left: 1px solid #dd3e2b;
  border-right: 1px solid #dd3e2b;

  display: grid;
  align-items: center;
}

.info {
  a {
    height: 100%;
    text-decoration: none;
  
    display: grid;
    grid-template-columns: 35px 1fr 25px;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
    
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
    }
    
    h3 {
      color: #fff;
      font-size: 14px;
    }

    .iconMenu {
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.profileMenu:hover .menu {
  display: block;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: auto;
  left: 1px;
  top: 50px;
  z-index: 999;
  background-color: #fff;
  
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0 0 2px 2px;
  box-shadow:  1px 1px 6px -2px rgb(0 0 0 / 24%);

  .btn {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    text-align: center;
    transition: .3s linear;
  }

  .btn:hover {
    background-color: #e44d3a;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }

}
