.body {
  display: grid;
  justify-items: center;
  align-items: center;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  gap: 5px;

  background-color: #fff;
  margin-top: 20px;
  padding: 20px 55px;
  border-radius: 2px;

  h3 {
    font-size: 18px;
    font-weight: 600;
  }
}

.form {
  padding: 40px;
  background-color: #fff;
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  width: 400px;
  height: 400px;

  h3 {
    text-align: center;
    font-size: 22px;
  }

  label {
    align-self: center;
  }

  button {
    cursor: pointer;
    color: #fff;
    background-color: #53d690;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
  }
}

.option {
  display: grid;

  .rememberMe {
    label {
      padding-left: 5px;
    }
    input {
      border-radius: 100%;
    }
  }

  .error {
    align-self: end;
    display: grid;
    justify-items: center;
    color: red;
    font-size: 18px;
    font-weight: 600;
  }
}

.input {
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 0 10px;
}
