.settings {
  display: grid;
  justify-items: center;
}

.container {
  width: 800px;
  margin: 60px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: 1px 0 4px rgb(0 0 0 / 24%);
}

.title {
  h3 {
    color: #000000;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
  }
}