.settings {
  display: grid;
  justify-items: center;
}

.container {
  width: 800px;
  margin: 60px;
  background-color: #fff;
}

.title {
  h3 {
    color: #000000;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #e5e5e5;
  }
}