.rightSideBar {
  grid-area: "rightSideBar";
  margin-top: 60px;
  padding-left: 15px;
}

.music {
  background-color: #fff;
  .playSound {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .label {
    cursor: pointer;
  }
}