.leftSideBar {
  grid-area: "leftSideBar";
  z-index: 200;
  padding-right: 15px;
}

.userProfile {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 10px;
}

.suggetions {
  background-color: #fff;
}