.container {
  display: inline-block;
  text-align: center;

  a {
    color: #000000;
    padding: 8px 16px;
    cursor: pointer;
  }

  a.currentPage {
    background-color: #e44d3a;
    border-radius: 2px;
    color: white;
  }

  a:hover {
    background-color: #ddd;
    border-radius: 2px;
  } 

  button {
    cursor: pointer;
    width: 39px;
    height: 39px;
    padding: 7px;
    border: none;
  }
}
