.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page {
  span {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 2px solid #e5e5e5;
    background-color: #fff;
  }
}
