.profileInfo {
  width: 100%;
  .name {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  .status {
    font-size: 20px;
    font-weight: 600;
    color: #686868;
    padding-bottom: 20px;
  }
}