@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* Reset css */

html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, img, header, nav, ul, li {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}

.app {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-template-areas: 
    "header"
    "content";
  grid-template-rows: 6vh 1fr;
  background-color: #efefef;
}