.users {
  grid-area: content;
  justify-self: center;
  width: 1200px;
  margin: 40px 0;
  display: grid;
  grid-template-rows: 73px 1fr 100px;
}

//Title

.title {
  width: 100%;
  margin-bottom: 20px;
  justify-self: center;
  h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    padding: 15px 20px;
  }
}

//Users list

.usersList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 261px);
  gap: 52px;
}

.moreUsers {
  margin: 40px 0;
}